.wrapper {
    display: flex;
    gap: 1rem;
    align-items: start;
}

.user {
    width: 3.4375rem;
    height: 3.4375rem;
    border-radius: 8px;
}

.commentContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
}

.commentContent {
    padding: 1rem;
    background-color: var(--gray-700);
    border-radius: 0.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userName {
    color: var(--gray-100);
    font-weight: 600;
    line-height: 160%;
    font-size: 0.875rem;
}

.job {
    color: var(--gray-400);
    font-size: 0.875rem;
    line-height: 160%;
    font-size: 0.9375rem;
}

.commentItem {
    margin: 1.5rem 0 1rem 0;
}

.actionButton {
    color: var(--gray-400);
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 0.875rem;
    display: inline-flex;
    align-items: center;
    gap: 0.625rem;
    width: fit-content;
    cursor: pointer;

    &:hover {
        color: var(--green-400);
        transition: color 0.2s;
    }
}

.trashIcon {
    cursor: pointer;

    &:hover {
        color: var(--red-200);
        transition: color 0.2s;
    }
}
